.product-list-container {
    max-width: 1000px;
    width: 90%;
    margin: 30px auto;
    padding: 70px;
}

.tabs {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.tab {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.tab.active {
    color: #e25151;
    border-bottom: 2px solid #e25151;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding-top: 15px;
}

.product-card {
    text-align: center;
}

.product-image {
    background-color: #ccc;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.product-namebox {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.product-name {
    margin-top: 8px;
    font-size: 15px;
}

.product-price {
    margin-top: 8px;
    font-size: 15px;
}

/*レスポンシブデザイン*/
/* PC向け（1400px〜1540px） */
@media (min-width: 1400px) and (max-width: 1540px) {
    .form-container {
        width: 600px; /* 固定幅でも崩れないようにする */
    }
}

/* タブレット向け（768px〜850px） */
@media (min-width: 768px) and (max-width: 850px) {
    .form-container {
        width: 95%;
        padding: 15px;
    }

    input[type="text"],
    textarea,
    button {
        font-size: 16px;
    }
}
